body{
    margin: 0;
    color: #fff;
    background-color: #0099ee;
}

.calc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    gap: 15px;
    
    width: 100vh;
    height: 100vh;
    margin: auto;
}

input{
    height: 50px;
    width: 250px;
    justify-content: center;
    text-align: center;
}
button{
    height: 50px;
    width: 100px;
}

.display{
    font-size: 30px;
    color: #fff;
}